* {
  list-style: none;
  color: black;
}

section, article, aside, footer, header, nav {
  display: block;
}

body {
  background-color: #01e;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-color: #ff0bc8;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 45px;
  color: cornflowerblue;
  text-align: right;
}

main {
  width: 100%;
  height: 100%;
  background-color: yellow;
  font-family: serif;
  font-size: 16px;
  color: red;
  z-index: 1;
}

article {
  margin: 0px 10px 0px 10px;
  padding: 10px 100px 10px 10px;
  position: absolute;
  background:antiquewhite
}

section {
  margin: 10px 100px 10px 100px;
  }

figure {

}

nav ul,li {
  list-style: none;
  display: inline;
  font-size: small;
  background: goldenrod;
  color: black;
}

h2, h3 {
  color: #ff0bc8;
  background:cadetblue;
  display: block;
}

blockquote {
  float: right;
  width: 400px;
  font-size: 130%;
  font-style: italic;
  font-family: georgia, times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top: solid #445566;
  border-bottom: 1px solid #445566;
  background: azure;
}
aside {
  width: 15%;
  background: peachpuff;
  padding: 15px;
  float: right;
    }
footer {
  position: fixed;
  background: goldenrod;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  z-index: 10;

}
#menu {
  background: honeydew;
  text-align: left;
  float: left;
  width: 100%;
    }
#contact {
  background: darkkhaki;
  text-align: right;
  float: right;

 }
#cv li {
  display: block;
}

aside li {
  display: block;
}
